<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ page.excerpt }}{% endif %}">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Damon Bauer</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="http://feeds.feedburner.com/damonbauer" rel="alternate" type="application/atom+xml">
  <style type="text/css">{% include main.css %}</style>
</head>
