.Masthead {
  clear: both;
  padding: 1.5em 0 2.5em;
  text-align: center;

  a {
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-size: 2.75rem;
    font-weight: bold;
    letter-spacing: 3px;

    @media screen and (min-width: 50em) {
      font-size: 3rem;
    }

    &:hover,
    &:focus {
      border-bottom: 2px solid $red;
    }
  }

  span {
    display: block;
    padding-top: .5em;
    font-size: 1rem;
    font-style: italic;
    color: $text;

    @media screen and (max-width: 25em) {
      letter-spacing: -1px;
    }
  }
}
