.Masthead {
  clear: both;
  padding: 1.5em 0 2.5em;
  text-align: center;

  a {
    @include font-size(42);
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    letter-spacing: 3px;

    @media screen and (min-width: 50em) {
      @include font-size(64);
    }

    &:hover,
    &:focus {
      border-bottom: 2px solid $red;
    }
  }

  span {
    @include font-size($doc-font-size);
    display: block;
    margin-bottom: 0;
    font-style: italic;
    color: $text;

    @media screen and (max-width: 25em) {
      letter-spacing: -1px;
    }
  }
}
