$blue: #373a4a;
$red: #e64845;
$text: #c4c4c4;

@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/fonts/Inconsolata-Regular-webfont.woff') format('woff'),
       url('/assets/fonts/Inconsolata-Regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/fonts/Inconsolata-Bold-webfont.woff') format('woff'),
       url('/assets/fonts/Inconsolata-Bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

%Inconsolata {
  font-family: "Inconsolata", monospace;
}
